version: 2.1
orbs:
  queue: eddiewebb/queue@2.2.1
jobs:
  build:
    docker:
      - image: ocelot2/circleci-build:latest
    steps:
      - checkout
      - run: dotnet cake
  release:
    docker:
      - image: ocelot2/circleci-build:latest
    steps:
      - checkout
      - run: dotnet cake --target=Release
workflows:
  version: 2
  main:
    jobs:
      - queue/block_workflow:
          time: '20'
          only-on-branch: main
      - release:
          requires:
            - queue/block_workflow
          filters:
            branches:
              only: main
  develop:
    jobs:
      - build:
          filters:
            branches:
              only: develop
  pr:
    jobs:
      - build:
          filters:
            branches:
              ignore:
                - main
                - develop
